.ios, .md {
 
  page-login {
 
    .scroll-content {
      background-color: #428BCA;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
 
    img {
      width: 50%;
      height: auto;
      margin: 0;

    }
 
    #cloud-layer {
      background-image: url(../assets/images/download.png);
      background-size: cover;
      width: 50px;
      height: 50px;
    }
 
      ion-row {
        align-items: center;
        text-align: center;
      }
 
      ion-item {
          border-radius: 5px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          width: 300px;
          font-size: 0.9em;
      }
 
      ion-list {
          margin: 0;
      }
 
      .login-button {
          width: 100%;
          border-radius: 5px;
          font-size: 0.9em;
          border: 1px solid #fff;
          width: 200px;
          background-color: #39acdc;
      }
 
  }
 
}